<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_m_hostel/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_m_hostel/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{51,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_m_hostel.png</string>
            <key>size</key>
            <string>{100,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:562e174b932c15e0d0a24889959d170e:710baeeefe192434c37183ea77d13d1d:25b04681ac0862c5d26fbc886ada754a$</string>
            <key>textureFileName</key>
            <string>role_m_hostel.png</string>
        </dict>
    </dict>
</plist>
