<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_xunyu/attack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{144,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/attack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{144,96}</string>
                <key>textureRect</key>
                <string>{{147,1},{144,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/death1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{293,1},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{367,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{417,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/walk_right1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{293,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/walk_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{293,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/walk_up1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{343,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_xunyu/walk_up2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{393,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_xunyu.png</string>
            <key>size</key>
            <string>{466,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d767dfafc59ff162d89b4f995899068:fafbe16b175e7505b698babf3e5ac589:5b8407cfda6b02e12dd6448e2d17c7a4$</string>
            <key>textureFileName</key>
            <string>role_xunyu.png</string>
        </dict>
    </dict>
</plist>
