<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/models/role_zhaoyun/attack1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{144,96}</string>
                <key>textureRect</key>
                <string>{{151,51},{144,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main/models/role_zhaoyun/attack2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{144,96}</string>
                <key>textureRect</key>
                <string>{{1,101},{144,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/death1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/walk_down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{75,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/walk_down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{125,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/walk_right1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{175,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/walk_right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/walk_up1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{51,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/models/role_zhaoyun/walk_up2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{101,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_zhaoyun.png</string>
            <key>size</key>
            <string>{248,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cea467dd77b2781d30f1cb543b1b0d9:04e73c52c2d931d31b28f7bbe4996a2a:a6dfa2ff9f0a46ecc2532c0b21e2cf09$</string>
            <key>textureFileName</key>
            <string>role_zhaoyun.png</string>
        </dict>
    </dict>
</plist>
