<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demo/images/pic1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{384,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,240}}</string>
                <key>sourceSize</key>
                <string>{384,240}</string>
            </dict>
            <key>demo/images/pic2</key>
            <dict>
                <key>frame</key>
                <string>{{387,1},{384,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,240}}</string>
                <key>sourceSize</key>
                <string>{384,240}</string>
            </dict>
            <key>demo/images/pic2-effect</key>
            <dict>
                <key>frame</key>
                <string>{{719,243},{189,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,240}}</string>
                <key>sourceSize</key>
                <string>{189,240}</string>
            </dict>
            <key>demo/images/pic3</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{384,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,240}}</string>
                <key>sourceSize</key>
                <string>{384,240}</string>
            </dict>
            <key>demo/images/pic3-effect</key>
            <dict>
                <key>frame</key>
                <string>{{387,243},{330,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,240}}</string>
                <key>sourceSize</key>
                <string>{330,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{909,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95759c8dede65877e2dffcd0486767dd:b430c2b5a615dbce1a7fff69153258c4:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
