<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boot/images/spanel1</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{624,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,192}}</string>
                <key>sourceSize</key>
                <string>{624,192}</string>
            </dict>
            <key>boot/images/updateprog</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{597,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,18}}</string>
                <key>sourceSize</key>
                <string>{597,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{626,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fb4a0841bcedae6f9201098098432ca:d8f03db9f65c7745d7396f5d4cd00295:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
