<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_revive/fstar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_revive.png</string>
            <key>size</key>
            <string>{50,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e640da2067b973569db4ca6f18bb2152:2f1d238d39f4ffe6dd887bc7f213d40d:f21408272ebf3a90c48eab0b59d69a39$</string>
            <key>textureFileName</key>
            <string>skill_revive.png</string>
        </dict>
    </dict>
</plist>
