<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_fire2/fanime1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fanime2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,99},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fanime3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,197},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fend1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,295},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fend2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,393},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fend3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,491},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fmedi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{1,589},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fmoveup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1,687},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fire2/fsmall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,761},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_fire2.png</string>
            <key>size</key>
            <string>{50,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16afc0cef1bfd6a710c8188be38646a9:4265cc3538d7440d77a2b134203c006f:f62fda317294cb60954ebbdf9676cd81$</string>
            <key>textureFileName</key>
            <string>skill_fire2.png</string>
        </dict>
    </dict>
</plist>
