<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_fallwood/fdust1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fallwood/fdust2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fallwood/fsmoke</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{149,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fallwood/fwood1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{199,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_fallwood/fwood2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{249,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_fallwood.png</string>
            <key>size</key>
            <string>{298,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78a421f6bef062cb8db5d9374c7b9bfb:501f0099d845a500e5f7182aa8d22ccb:eb88da62c54014efa029a55836e10be0$</string>
            <key>textureFileName</key>
            <string>skill_fallwood.png</string>
        </dict>
    </dict>
</plist>
