<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_water1/spout</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spoutH</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{151,1},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spoutT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{177,1},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spray1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{51,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water1/spray2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{101,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_water1.png</string>
            <key>size</key>
            <string>{202,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7060aad865f526a12b04b30280f6ea66:e944440c7a5cead10c37b2f7afc3f074:0d1c9f887d93887a7cb1f215dded8d02$</string>
            <key>textureFileName</key>
            <string>skill_water1.png</string>
        </dict>
    </dict>
</plist>
