<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main/effects/skill_water2/spoutH</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{149,1},{48,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main/effects/skill_water2/spoutT</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{175,1},{48,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main/effects/skill_water2/spray1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main/effects/skill_water2/spray2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_water2.png</string>
            <key>size</key>
            <string>{200,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0911cd293b7e2ecd9a6bf36187e23ce:e02cadaeff88da124928ab705b041885:7c8a671ebaca48507634a91eb6b5db04$</string>
            <key>textureFileName</key>
            <string>skill_water2.png</string>
        </dict>
    </dict>
</plist>
